<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
	<servlet>
		<servlet-name>SpringAppEngine</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringAppEngine</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


	<!-- old, for testing only
	  Btw I've got no idea how to run them together with Spring's DispatcherServlet (above).
	  So if you wanna these tests, proceed as following:
	   1/ comment out spring servlet
	   2/ restart server
	   3/ run test servlets
	   4/ put back spring
	   5/ restart server and use spring ;)

	   Ugly, but dunno better solution and dont wanna waste more time on it ;)
	-->
<!--	<servlet>
		<servlet-name>dbWriteServlet</servlet-name>
		<servlet-class>cz.juzna.pa165.cards.servlets.DbWriteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>dbReadServler</servlet-name>
		<servlet-class>cz.juzna.pa165.cards.servlets.DbReadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dbWriteServlet</servlet-name>
		<url-pattern>/dbWriteTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dbReadServler</servlet-name>
		<url-pattern>/dbReadTest</url-pattern>
	</servlet-mapping>-->
</web-app>
